/* play-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-cyrillic_cyrillic-ext_latin-700.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-500.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_latin-700.woff2")
    format("woff2");
}
:root {
  --color-primary-white: #ffffff;
  --color-primary-light-blue: #2b7fff;
  --color-primary-dark-blue: #011c44;
  --color-black: #000000;
  --color-secondary-light-grey: #747272;
  --color-secondary-dark-grey: #4a4a4a;
  --color-secondary-dark-blue: #011f4a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}

input {
  outline: none;
}

body {
  color: var(--color-primary-dark-blue);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-image: url("../images/advantages-bg.svg");
  background-position: top 1320px center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 106px;
}

.header__logo {
  width: 74px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 56px;
}

.header__menu-link {
  color: var(--color-primary-dark-blue);
  transition: all 0.2s;
}

.header__menu-link:hover {
  color: var(--color-primary-light-blue);
  /* font-weight: 700; */
}

.header__social-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__social-item {
  width: 32px;
  height: 32px;
}

.modal-form__btn-open {
  padding: 0;
  background-color: transparent;
  border: none;
}

.header__social-icon {
  fill: var(--color-primary-dark-blue);
  transition: all 0.2s;
}

.header__social-icon:hover {
  fill: var(--color-primary-light-blue);
}

/* hero-section */

.hero-section {
  padding-top: 122px;
  padding-bottom: 126px;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
}

.hero-section__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 40px;
}

.hero-section__title span {
  display: block;
  margin-top: 16px;
  font-family: Play;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 81%;
  color: var(--color-primary-light-blue);
  text-transform: capitalize;
}

.hero-section__btn {
  color: var(--color-primary-white);
  background-color: var(--color-primary-light-blue);
  border: 2px solid var(--color-primary-light-blue);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 14px;
  padding: 14px 30px;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.2s;
}

.hero-section__btn:hover {
  color: var(--color-primary-dark-blue);
  background-color: transparent;
  border: 2px solid var(--color-primary-light-blue);
}

.hero-section__btn-description {
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--color-secondary-dark-grey);
  max-width: 220px;
  /* margin-bottom: 126px; */
}

/* about-section */

.about-section {
  padding-top: 44px;
  padding-bottom: 176px;
}

.about-section__container {
  display: flex;
  position: relative;
}

.about-section__container::before {
  position: absolute;
  background-image: url("../images/Star_middle.svg");
  background-repeat: no-repeat;
  fill: var(--color-primary-light-blue);
  transform: rotate(30deg);
  width: 40px;
  height: 40px;
  top: 38px;
  right: -21px;
  content: "";
  animation-name: flickering;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.about-section__container::after {
  position: absolute;
  background-image: url("../images/Star_big.svg");
  background-repeat: no-repeat;
  fill: var(--color-secondary-dark-blue);
  transform: rotate(-30deg);
  width: 64px;
  height: 64px;
  top: 347px;
  right: 304px;
  content: "";
  animation-name: flickering;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes flickering {
  0% {
    scale: 100%;
  }
  50% {
    scale: 150%;
  }
  100% {
    scale: 100%;
  }
}

.about-section__content,
.about-section__text {
  padding-top: 40px;
  flex-basis: 60%;
}

.about-section__title,
.advantages-section__title,
.procedures-section__title,
.contact-section__title,
.modal-form__title {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
}

.about-section__title span {
  color: var(--color-primary-light-blue);
  text-transform: capitalize;
}

.about-section__text {
  font-size: 22px;
  line-height: 38px;
}

.about-section__text span {
  font-weight: 600;
  text-transform: capitalize;
}

.about-section__photo-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-basis: 40%;
}

.about-section__photo {
  max-width: 327px;
  border-radius: 327px;
  position: relative;
}

.about-section__photo-container::after {
  position: absolute;
  background-image: url("../images/Star_small.svg");
  background-repeat: no-repeat;
  fill: var(--color-secondary-light-greydark-blue);
  transform: rotate(-23deg);
  width: 16px;
  height: 16px;
  top: 272px;
  right: 6px;
  content: "";
  animation-name: flickering-small-star;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes flickering-small-star {
  0% {
    scale: 100%;
  }
  50% {
    scale: 200%;
  }
  100% {
    scale: 100%;
  }
}

.about-section__photo:last-child {
  align-self: flex-end;
}

/* .advantages-section */

.advantages-section {
  padding-bottom: 96px;
  position: relative;
}

.advantages-section__title span,
.procedures-section__title span,
.contact-section__title span {
  color: var(--color-primary-light-blue);
}

.advantages-section__title {
  margin-bottom: 48px;
  text-align: center;
}

.advantages-section__text {
  color: var(--color-black);
  line-height: 24px;
  max-width: 252px;
  text-align: center;
}

.advantages-section__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 56px;
}

.advantages-section__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--color-primary-white);
  border-radius: 32px;
  padding: 24px 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}
.advantages__icon {
  fill: var(--color-primary-light-blue);
}

/* procedures-section */
.procedures-section {
  padding-bottom: 96px;
}

.procedures-section__title {
  padding-bottom: 48px;
  text-align: center;
}

.procedures-section__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.carousel__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid var(--color-primary-dark-blue);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.carousel__button:hover {
  border: 1px solid var(--color-primary-light-blue);
  background-color: var(--color-primary-light-blue);
}

.carousel__button svg {
  fill: var(--color-primary-dark-blue);
  transition: all 0.2s;
}

.carousel__button:hover svg {
  fill: var(--color-primary-white);
}

.carousel__button-next {
  transform: rotate(180deg);
}

.carousel__list {
  display: flex;
  justify-content: center;
  gap: 16px;
  overflow: hidden;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 344px;
  height: 456px;
  padding: 32px 77px 32px 115px;
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.73) 84.61%,
    var(--color-primary-dark-blue) 101.39%
  );
  border-radius: 4px 120px;
}

.carousel-card__image {
  position: absolute;
  z-index: -1;
  border-radius: 4px 120px;
  top: 0;
  left: 0;
}

.carousel-card__title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: var(--color-primary-white);
}

/* contact-section */

.contact-section {
  padding-bottom: 96px;
}

.contact-section__title {
  text-align: center;
  padding-bottom: 48px;
}

.contact-section__container {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  max-width: 1060px;
  margin: 0 auto;
}

.contact-section__map {
  flex-grow: 1;
  border-radius: 32px;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 422px;
  padding: 48px 56px;
  border-radius: 32px;
  background-color: var(--color-primary-dark-blue);
  background-image: url("../images/contact-form_bg-texture.svg");
  color: var(--color-primary-white);
}

.appointment-form__title {
  max-width: 274px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.appointment-form__title span {
  color: var(--color-primary-light-blue);
}

.form-input__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.appointmet-form__input {
  position: relative;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
}

.input__field {
  padding: 16px 32px;
  background-color: transparent;
  border-radius: 32px;
  border: 2px solid var(--color-secondary-light-grey);
  width: 100%;
}

.input__field:focus {
  background-color: var(--color-secondary-light-grey);
  color: var(--color-primary-white);
}

.input__field::placeholder {
  color: var(--color-primary-white);
  font-size: 13px;
}

.form-button__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.appointment-form__btn,
.modal-form__btn {
  color: var(--color-primary-white);
  background: var(--color-primary-light-blue);
  padding: 14px 30px;
  border-radius: 32px;
  border: 2px solid var(--color-primary-light-blue);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.appointment-form__btn:hover,
.modal-form__btn:hover {
  color: var(--color-primary-light-blue);
  background-color: transparent;
  border: 2px solid var(--color-primary-light-blue);
}

.appointment-form__btn-description,
.modal-form__btn-description {
  color: var(--color-secondary-light-grey);
  font-size: 12px;
  line-height: 150%;
  text-align: center;
}

.btn-description__link {
  color: var(--color-secondary-light-grey);
  text-decoration: underline;
}

/* footer */

.footer {
  position: relative;
  background-color: var(--color-primary-dark-blue);
  background-image: url("../images/footer_bg-texture.svg");
  padding: 56px 100px;
}

.footer__image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  line-height: 100%;
}
.footer__logo {
  width: 78px;
}

.footer__menu,
.footer__contacts,
.contacts__list,
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__menu-link,
.footer__contacts-link {
  color: var(--color-primary-white);
  font-size: 16px;
  transition: all 0.2s;
}

.footer__contacts-link {
  font-style: normal;
}

.footer__menu-link:hover,
.footer__contacts-link:hover {
  color: var(--color-primary-light-blue);
}

.footer__social-list {
  display: flex;
  gap: 24px;
  cursor: pointer;
}

.footer__social-icon {
  fill: var(--color-primary-white);
  transition: all 0.2s;
}

.footer__social-icon:hover {
  fill: var(--color-primary-light-blue);
}

.footer__copy {
  color: var(--color-secondary-light-grey);
  font-size: 13px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 172px;
  background-color: rgba(1, 31, 74, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.modal__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 722px;
  height: 100%;
  padding: 42px 206px;
  border-radius: 48px;
  background-color: var(--color-primary-dark-blue);
  background-image: url("../images/modal-form_bg-texture.svg");
  background-size: auto;
  color: var(--color-primary-white);
}

.modal-form__btn-close {
  position: absolute;
  top: 48px;
  right: 48px;
  fill: transparent;
  stroke: var(--color-primary-white);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-form__title {
  text-align: center;
  padding-bottom: 8px;
}

.modal-form-input__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-form__input {
  position: relative;
  width: 100%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}
