:root {
  --color-primary-white: #ffffff;
  --color-primary-light-blue: #2b7fff;
  --color-primary-dark-blue: #011c44;
  --color-black: #000000;
  --color-secondary-light-grey: #747272;
  --color-secondary-dark-grey: #4a4a4a;
  --color-secondary-dark-blue: #011f4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1280px;
