.about-section {
  padding-bottom: 20px;
  &__container {
    display: flex;
    position: relative;
  }

  &__container::before {
    @media screen and (min-width: $bp-laptop) {
      position: absolute;
      background-image: url("../images/Star_middle.svg");
      background-repeat: no-repeat;
      fill: var(--color-primary-light-blue);
      transform: rotate(30deg);
      width: 40px;
      height: 40px;
      top: 38px;
      right: -21px;
      content: "";
      animation-name: flickering;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }

  &__container::after {
    position: absolute;
    background-image: url("../images/Star_big.svg");
    background-repeat: no-repeat;
    fill: var(--color-secondary-dark-blue);
    transform: rotate(-30deg);
    width: 40px;
    height: 40px;
    bottom: -50px;
    right: 22px;
    content: "";
    animation-name: flickering;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    @media screen and (min-width: $bp-laptop) {
      width: 64px;
      height: 64px;
      bottom: 284px;
      right: 304px;
    }
  }

  @keyframes flickering {
    0% {
      scale: 100%;
    }
    50% {
      scale: 150%;
    }
    100% {
      scale: 100%;
    }
  }

  &__content {
    padding-top: 0;

    @media screen and (min-width: $bp-laptop) {
      padding-top: 40px;
      flex-basis: 60%;
    }
  }

  &__text {
    padding-top: 24px;

    @media screen and (min-width: $bp-laptop) {
      padding-top: 40px;
      flex-basis: 60%;
    }
  }

  &__text {
    font-size: 18px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 22px;
      line-height: 38px;
    }
  }

  &__text span {
    font-weight: 600;
    text-transform: capitalize;
  }

  &__photo-container {
    display: none;

    @media screen and (min-width: $bp-laptop) {
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex-basis: auto;
      flex-basis: 40%;
    }
  }

  &__photo {
    max-width: 327px;
    border-radius: 327px;
    position: relative;
  }

  &__photo-container::after {
    position: absolute;
    background-image: url("../images/Star_small.svg");
    background-repeat: no-repeat;
    fill: var(--color-secondary-light-greydark-blue);
    transform: rotate(-23deg);
    width: 16px;
    height: 16px;
    top: 272px;
    right: 6px;
    content: "";
    animation-name: flickering-small-star;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes flickering-small-star {
    0% {
      scale: 100%;
    }
    50% {
      scale: 200%;
    }
    100% {
      scale: 100%;
    }
  }

  &__photo:last-child {
    align-self: flex-end;
  }
}
