.adventages-procedures-wrapper {
  background: url("../images/advantages-bg.svg"),
    linear-gradient(
      transparent,
      rgb(43, 127, 255, 0.15) 33%,
      rgb(43, 127, 255, 0.1) 68%,
      rgba(255, 255, 255, 1) 90%
    );
  background-position: top 0px center;
  background-repeat: no-repeat;
  background-size: cover;
}
